<manifest xmlns:android="http://schemas.android.com/apk/res/android"
   >
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <application
        android:label="Trend Today Customer"
        android:name="${applicationName}"
        android:icon="@mipmap/notification_icon">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:enableOnBackInvokedCallback="true"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <meta-data android:name="flutter_deeplinking_enabled" android:value="false" />

            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- Replace 'trendtoday' with your custom scheme and 'checkout' with your host -->
                <data android:scheme="trendtoday" android:host="checkout" />
                <!-- You can add multiple data tags for different schemes/hosts -->
                <data android:scheme="https" android:host="www.trendtoday.ca" />
            </intent-filter>
            <!-- Specifies an Android theme to apply to this Activity as soon as
                 the Android process has started. This theme is visible to the user
                 while the Flutter UI initializes. After that, this theme continues
                 to determine the Window background behind the Flutter UI. -->
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="trendtoday" android:host="checkout" />
            </intent-filter>


        </activity>

        <provider
        android:name="com.google.firebase.provider.FirebaseInitProvider"
        android:authorities="${applicationId}.firebaseinitprovider"
        android:exported="false"
        android:initOrder="100" />
        <!-- Don't delete the meta-data below.
             This is used by the Flutter tool to generate GeneratedPluginRegistrant.java -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />


        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="default_channel_id" />



        <!--<meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBs6Sffmr-7vErUWKBptRJG-dZ0522ca74"/>-->

       <!-- <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBkrrz07OaqzKy1Bm-AybuqFj-RfC_b1LA"/>-->


        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBkrrz07OaqzKy1Bm-AybuqFj-RfC_b1LA" />





   </application>
</manifest>
